---
import { markdownify } from "@/lib/utils/textConverter";
import Accordion from "@/shortcodes/Accordion";
import { getEntry } from "astro:content";

interface FaqSection {
  enable: boolean;
  badge: string;
  title: string;
  list: {
    question: string;
    answer: string;
  }[];
}

const faq = (await getEntry("sections", "faq")).data as FaqSection;
---

{
  faq.enable && (
    <section class="section">
      <div class="container">
        <div class="section-container">
          <div class="section-intro text-center">
            {faq.badge && (
              <div class="section-badge badge badge-gradient" data-aos="fade-up-sm" data-aos-delay="100">
                {faq.badge}
              </div>
            )}
            {faq.title && <h2 class="section-title" data-aos="fade-up-sm" data-aos-delay="200" set:html={faq.title} />}
          </div>
          <div class="section-content lg:col-8 mx-auto">
            {faq.list.map((item, index) => (
              <div data-aos="fade-up-sm" data-aos-delay={index * 100}>
                <Accordion className="!mb-4" client:load title={item.question}>
                  <div set:html={markdownify(item.answer)} />
                </Accordion>
              </div>
            ))}
          </div>
        </div>
      </div>
    </section>
  )
}
