// Infinite Slider
@keyframes inf-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes inf-scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.inf-slide-track {
  display: flex;
}

.inf-slide {
  flex-shrink: 0;
}

/* AOS Custom Animations */
[data-aos="fade-up-sm"] {
  transform: translateY(15px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="fade-down-sm"] {
  transform: translateY(-15px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateY(0);
    opacity: 1;
  }
}
[data-aos="fade-left-sm"] {
  transform: translateX(15px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}
[data-aos="fade-right-sm"] {
  transform: translateX(-15px);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translateX(0);
    opacity: 1;
  }
}
[data-aos="zoom-out-sm"] {
  transform: scale(1.05);
  opacity: 0.5;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: scale(1);
    opacity: 1;
  }
}
[data-aos="zoom-in-sm"] {
  transform: scale(0.9);
  opacity: 0.5;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: scale(1);
    opacity: 1;
  }
}
[data-aos="fade-down-left-sm"] {
  transform: translate3d(40px, -40px, 0);
  opacity: 0.5;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
  }
}
[data-aos="fade-up-left-sm"] {
  transform: translate3d(40px, 40px, 0);
  opacity: 0.5;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
  }
}

[data-aos="fade-up-right-sm"] {
  transform: translate3d(-40px, 40px, 0);
  opacity: 0.5;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
  }
}

// Text Animation

.animateBadge > span {
  animation: animateBadgeKeyframes 4s ease-out infinite forwards;
}

@keyframes animateBadgeKeyframes {
  0% {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: transparent;
  }

  50% {
    text-shadow: 0;
    @apply text-dark;
  }

  100% {
    text-shadow: 0;
    @apply text-dark;
  }
}

// Line Underline
.s-underline {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 2px), theme("colors.text") 10px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

.u-underline:hover .s-underline {
  background-size: 100% 100%;
}
