---
import config from "@/config/config.json";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { humanize, plainify } from "@/lib/utils/textConverter";
import { FaUser } from "react-icons/fa6";
import ImageMod from "./components/ImageMod.astro";
import PostCard from "./components/homepage/PostCard.astro";

const BLOG_FOLDER = "post";
const { summary_length }: { summary_length: number; blog_folder: string } =
  config.settings;

const posts = await getSinglePage(BLOG_FOLDER);
const sortedPosts = sortByDate(posts);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<section class="section">
  <div class="container">
    <div class="row gx-4 mb-14 grid-layout">
      {
        currentPosts.map((post) => (
          <div class="md:col-4">
            <article class="card">
              <PostCard post={post} />
            </article>
          </div>
        ))
      }
    </div>
  </div>
</section>
